<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafi Sharkar 0777</title>
</head>
<body>
    <div class="cont li">Name: Rafi Sharkark</div>
    <div class="cont li">Institution: IUB</div>
    <div class="cont li">School: SETS</div>
    <div class="cont li">Dept: CSE</div>
</body>
</html>